@charset "UTF-8";
/*очищение всех отступов*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

/*изменение подсчета ширины блока*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*изменение линии обводки в некоторых браузерах*/
:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

/*изменение тегов на блочные*/
nav, footer, header, aside {
  display: block;
}

/*отключение самовольного увеличения шрифтов*/
html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/*включение наследственности*/
input, button, textarea {
  font-family: inherit;
}

/*убирание некоторых особенностей в разных браузерах*/
input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

/*обнуление всех заголовков*/
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-------------------------------------------------------*/
* {
  font-family: 'Montserrat', sans-serif;
}

header {
  width: 1920px;
  height: 72px;
  background-color: white;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: '';
  position: fixed;
  width: 100%;
  z-index: 10;
}

header h2 {
  margin-top: 25px;
  margin-left: 260px;
}

header .audi {
  cursor: context-menu;
}

header .header__catalog {
  margin-top: 25px;
  margin-left: 511px;
  color: #004ba1;
  height: 22px;
  /*cursor:not-allowed;*/
}

header .header__catalog:hover {
  color: #6b2525;
  text-decoration: overline;
  /* background-color:rgba(194, 194, 194, 0.24) ;*/
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

header .header__contacts {
  margin-top: 25px;
  margin-left: 84.5px;
  color: #004ba1;
  height: 22px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

header .header__contacts:hover {
  color: #6b2525;
  text-decoration: overline;
  /* background-color:rgba(194, 194, 194, 0.24) ;*/
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

header .num {
  margin-top: 25px;
  margin-left: 205.5px;
}

.section {
  background-color: white;
}

.section__h {
  color: black;
  margin-top: 467px;
  text-align: center;
  font-size: 48px;
}

.section__table {
  font-size: 24px;
  margin-top: 80px;
}

.section__table__1 {
  position: absolute;
  margin-top: 58px;
  margin-left: 260px;
  background-color: rgba(209, 213, 219, 0.73);
  height: 51px;
  width: 685px;
  padding-top: 10px;
}

.section__table__1 p {
  margin-left: 400px;
  width: 272px;
  margin-top: -20px;
}

.section__table__2 {
  position: absolute;
  padding-top: 0px;
  margin-left: 260px;
  padding-top: 10px;
}

.section__table__2 p {
  width: 289px;
  margin-left: 400px;
  margin-top: -20px;
}

.section__table__3 {
  position: absolute;
  margin-top: 116px;
  margin-left: 260px;
  padding-top: 10px;
}

.section__table__3 p {
  margin-left: 400px;
  margin-top: -24px;
}

.section__table__4 {
  position: absolute;
  margin-top: 174px;
  margin-left: 260px;
  background-color: rgba(209, 213, 219, 0.73);
  height: 51px;
  width: 685px;
  padding-top: 10px;
}

.section__table__4 p {
  margin-left: 400px;
  margin-top: -24px;
}

.section__table__5 {
  position: absolute;
  margin-top: 232px;
  margin-left: 260px;
  padding-top: 10px;
}

.section__table__5 p {
  margin-left: 400px;
  margin-top: -24px;
}

.section__table__6 {
  position: absolute;
  margin-top: 290px;
  margin-left: 260px;
  background-color: rgba(209, 213, 219, 0.73);
  height: 51px;
  width: 685px;
  padding-top: 10px;
}

.section__table__6 p {
  margin-left: 400px;
  margin-top: -24px;
}

.section__table__7 {
  position: absolute;
  margin-top: 348px;
  margin-left: 260px;
  padding-top: 10px;
}

.section__table__7 p {
  margin-left: 400px;
  margin-top: -24px;
}

.section__bron {
  margin-top: 101px;
  border: 1px solid #000000;
  width: 673px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 105px;
}

.section__bron__h {
  font-size: 48px;
  margin-top: 38px;
  margin-left: 78px;
}

.section__bron__p {
  font-size: 18px;
  color: #737373;
  margin-left: 78px;
  margin-top: 13px;
}

.section__bron__name {
  font-size: 24px;
  padding-left: 184px;
  margin-top: 52px;
  text-decoration: underline;
}

.section__bron__email {
  font-size: 24px;
  margin-left: 184px;
  margin-top: 76.5px;
  text-decoration: underline;
}

.section__bron__num {
  font-size: 24px;
  margin-left: 184px;
  margin-top: 76.5px;
  /* text-decoration: underline;*/
}

.section__bron__btn {
  font-size: 24px;
  margin-left: 177px;
  margin-top: 64px;
  width: 320px;
  height: 71px;
  background-color: black;
  color: white;
  border-radius: 18px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.section__bron__btn:hover {
  background-color: #acacac;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.section__bron__footer {
  margin-top: 53px;
  text-align: center;
  color: #737373;
  font-size: 18px;
}

.section__bron .foot {
  margin-bottom: 54px;
}

.section .img {
  margin-left: 950px;
  margin-top: 0px;
}

.footer {
  background-color: #4b4a4a;
  height: 75px;
  width: 100%;
  margin-top: 138px;
}

body {
  background-image: url(../img/ferrari_header.png);
  background-repeat: no-repeat;
}

.main-text {
  color: white;
  padding-left: 334px;
}

.main-text__main {
  padding-top: 146px;
  font-size: 64px;
  z-index: 10;
}

.main-text__p {
  font-size: 24px;
  margin-top: 17px;
}

.main-text__block {
  width: 697px;
  height: 212px;
  margin-left: -74px;
  margin-top: -112px;
  background: rgba(0, 0, 0, 0.47);
  z-index: 1;
}

.main-text__none {
  margin-top: 700px;
}

img {
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
}

img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
